[submodule "3rdparty/Frame"]
	path = 3rdparty/Frame
	url = git@github.com:ConstantRobotics-Ltd/Frame.git
[submodule "3rdparty/ConfigReader"]
	path = 3rdparty/ConfigReader
	url = git@github.com:ConstantRobotics-Ltd/ConfigReader.git
